<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">





	<test name="Run Cukes">
		<classes>
		 	<class name="steps.BeforeActions" /> 
			<class name="runner.Runner" />
		 	<class name="steps.AfterActions" /> 
		</classes>
	</test> <!-- Test -->

			

</suite> <!-- Suite -->
